@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#drop_zone{
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #bbb;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 230px;
    color: #000;
    font-size: 30px;
    margin-top: 50px;
}
#drop_zone h3 {
   margin-top: 70px;
}

.thumb {
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }


body {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent; 
    background-image:url("img/Template1.png"); 
    min-height: 100vh;
    background-repeat: no-repeat;
    
}

#photo {
   text-align: center;
   border-radius: 2px solid;
   margin-top: 30px;
   margin-bottom: 50px;

}

#welcome {
    text-align: center;
    padding: 30px;
    margin-bottom: 90px;
    margin-top: 210px;
}

#welcome h1 {
    font-size: 100px;
}

#register, #login, #admin {
    margin: 30px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 250px;
    font-size: 30px;
    border-radius: 3px solid;
}

#home, #administrator #inputname{
    text-align: center;
}

#nombre, #apellido, #rut, #correo, #fono {
    width: 300px;
    padding: 10px;
    margin: 20px;
   border-radius: 5px; 
   margin-left: 180px;  
}

#archivo {
    text-align: center;
    margin-bottom: 20px;
}

#registry {
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 200px;
    font-size: 20px;
    border-radius: 3px solid;
    text-align: center;
    height: 70px;
}

.form-control {
    text-align: center;
    width: 300px;
    align-content: center;
    align-items: center;
}

#btnregistry {
    margin-left: 210px;
}
