body {
    background-color: transparent; 
    background-image:url("img/Template1.png"); 
   }
   .avatar{
    background-color: transparent; 
    background-image:url("img/Template1.png");
    background-position:center;/*centrar imagen*/
   background-repeat: no-repeat;/*no repetir imagen*/
   background-size: cover;/*especifica tamaño de la imagen*/
   }


.container {
    text-align: center;
}

.card {
    text-align: center;
    margin: 60px;
    width: 400px;
    height: 500px;
}

#btn-outline-dark {
    padding: 30px;
    margin-bottom: 10px;
}


